.article{
    border: 15px solid #b2adbc;
      margin-left: 20%;
      margin-right: 20%;
      padding-left: 2%;
      padding-right: 2%;
      text-align: left;
      
    }
    .date{
      color: #d8874e;
      text-transform: uppercase;
    }
    .special_para{
      border-left: 2px solid #b2adbc;
      padding-left: 1%;  
    }
    #august{
      padding-top: 5%;
    }
    hr.style-two {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
      
    }
    h1{
      font-family: 'Source Sans Pro', sans-serif;
    }
    p{
      font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Delius Swash Caps', cursive;
    }